* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');



/* navbar */

header {
    padding: 30px 240px;
    box-shadow: 0px 1px 15px 0 rgb(221, 219, 219);
    bottom: 30px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 60px;
}

/* Gamer word css */
h3 {
    font-size: 35px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 300px;
}

/* navbar items css */
ul>li {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 14px;
}

/* Frame.png css */
.frame {
    height: 35px;
    position: relative;
    margin-left: -90px;
    position: relative;
    bottom: -40px;
}


/* Last list item css in navbar */
.social {
    position: relative;
    background-color: rgb(227, 224, 224);
    border: 0;
    width: 180px;
    bottom: 15px;
    padding: 15px;
    border-radius: 5px;
}


/* youtube icon css */
.fa-youtube {
    position: relative;
    margin-left: -150px;
    font-size: 25px;
    bottom: 5px;
    color: red;
}

/* tiktok icon css */
.fa-tiktok {
    position: relative;
    font-size: 25px;
    margin-left: -35px;
    bottom: 5px;
}


/* Thunder shape backgriond image css(Group 14.png css) */
#lightbg {
    position: relative;
    bottom: 30px;
    height: 750px;
    width: 700px;
}

/* Group 18.png css */
#garden {
    position: relative;
    height: 720px;
    bottom: 30px;
}

/* 2ND section css starts from here */
#part {
    position: relative;
    bottom: 500px;
    float: left;
    margin-left: 190px;
}

#goat {
    font-size: 80px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    color: rgba(249, 72, 222, 1);
    position: relative;
    top: 10px;
    background-image: linear-gradient(rgb(252, 108, 132), darkviolet);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


#para1 {
    font-size: 17px;
    position: relative;
    top: 10px;
    color: #534C64;
}

#para2 {
    float: left;
    margin-left: 1px;
    position: relative;
    top: 10px;
    color: #534C64;
}

#para3 {
    white-space: nowrap;
    float: left;
    margin-left: -1px;
    position: relative;
    top: 10px;
    color: #534C64;
}



button {
    position: relative;
    top: 40px;
}

.btn1 {
    width: 120px;
    height: 45px;
    border-radius: 50px;
    border: 0;
    font-size: 17px;
    background-color: rgb(234, 55, 234);
    color: white;
}


.btn2 {
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 0;
    font-size: 17px;
    background-color: #4EC5F7;
    color: white;
}

/* 2ND section ends here */

/* Last part of header section starts from here */
.lastpart {
    border: 0;
    height: 600px;
    width: 100%;
    background-color: rgb(249, 249, 249);
    bottom: 40px;
    position: relative;
}

#last {
    position: relative;
    float: right;
    margin-right: 600px;
    bottom: 200px;
}

.lasthead {
    position: relative;
    float: left;
    margin-left: 1000px;
    bottom: 640px;
    font-size: 45px;
    background-image: linear-gradient(rgb(252, 108, 132), darkviolet);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#para4 {
    position: relative;
    float: left;
    margin-left: -350px;
    bottom: 550px;
    text-align: right;
    color: rgba(83, 76, 100, 1);
}

#btn3 {
    position: relative;
    top: -500px;
    float: right;
    margin-right: 150px;
    width: 160px;
    height: 55px;
    border-radius: 50px;
    border: 0;
    font-size: 17px;
    background-color: rgba(249, 72, 222, 1);
    color: white;
}

#para5 {
    position: relative;
    float: left;
    margin-left: 1180px;
    bottom: 470px;
    font-size: 20px;

    color: gray;
}

#para6 {
    position: relative;
    float: left;
    margin-left: 900px;
    bottom: 460px;
    font-size: 30px;
    color: #534C64;
    white-space: nowrap;
}

/* Last part of header section ends here */

.online-game .same {
    text-align: center;
}
.online-game{
    margin: auto;
    width: 1044px;
    height: 821px;
}
.inner-text{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online-game-container{
 display: flex;

}
.online-game-container img{
    height: 280px;
    width: 250px;
}
.contain{
    padding: 10px;
}
.contain-text{
    width: 234px;
    font-size: 12px;
    font-weight: 400;
}
.contain :hover{

    border: 4px solid #F948B2;
    border-radius: 15px;
    transition: .3s ease;
    opacity:70%;
    background: black;
    
}
.container-2{
    background: linear-gradient(rgb(255,66,165) 0%, rgb(255,66,165)100%);
    height: 600px;
    margin-top:20px;
    position: relative;
    width: 1920px;
}

.group-1{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 120px;
    min-height: 581px;
    position: absolute;
    top: 80px;
    width: 684px;
    margin-left:-20px;

}


.group-2{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 204px;
    width: 684px;
    position: relative;
    margin-right: 240px;
    float: right;
    

}

.careers{
    color: white;
    font-size: 40px;
    
    white-space: nowrap;
    width: 426px;
    height:60px ;
    position: relative;
    bottom: 20px;
    font-weight: 700px;


}
.gamer-is-driven-to-c{
    font-size: 15px;
    line-height: 30px;
    min-height: 120px;
    width: 680px;
    position: relative;
    bottom: 40px;
    color: whitesmoke;
    font-weight: 700px;
}

.flex-row-1{
    align-items: flex-start;
    display: flex;
    gap: 97px;
    height: 240px;
    margin-top: 32px;
    min-width: 680px;
}

.multimedia-artist{
    letter-spacing: 0;
    line-height: 40px;
    min-height: 240px;
    min-width: 337px;
    position: relative;
    bottom: 80px;
    color:whitesmoke;
    font-size:15px;
}

.lisbon-portugal-lis{
    letter-spacing: 0;
    line-height: 35px;
    min-height: 240px;
    min-width: 246px;
    text-align: right;
    position: relative;
    float: left;
    margin-left:-200px;
    bottom: 70px;
    color: whitesmoke;
    font-weight: 400px;
    font-size: 15px;
}

#position{
    position: relative;
    top:200px;
    float: left;
    margin-left:-580px;
    padding: 12px 40px;
    border-radius: 40px;
    color: rgb(255,66,165);
    font-size: 12px;
}   

#images{
    position: relative;
    height: 655px;
    margin-left: 550px;
    bottom: 400px;
    width: 900px;
    overflow: hidden;
}

.tail{
    align-items: center;
    background-color: #0B0223;
    min-height: 636px;
    width: 1900px;
    
    
}

#gamer{
    margin: 180px;
    float: left;
    position: relative;
    margin-left: 630px;
    bottom: 60px;
    padding: 0px;
}
.content{
    color: antiquewhite;
    position: relative;
    top:-325px;
    font-size:30px;
    float: right;
    margin-right:1006px;
    bottom:500px;
    font-size:40px;
    
}
.headline{
    display: flex;
    gap:60px;
    position:relative;
    padding:400px;
    bottom: 800px;
}

footer{
    height: 500px;
    width: 100%;
    margin-bottom:-2000px;
}

.head-1{
    color:blue;

}
.fa-twitter{
    color:whitesmoke;
    font-size: 40px;
}

.fa-facebook{
    color: whitesmoke;
    font-size: 40px;
}

.fa-youtube{
    color: whitesmoke;
    font-size: 40px;
}

.fa-linkedin-in{
    color:whitesmoke;
    font-size: 40px;
}
.fa-instagram{
    color:whitesmoke;
    font-size: 40px;
}

.fa-apple{
    color:whitesmoke;
    font-size: 40px;
}

.main-1{
    color:whitesmoke;

}

.icon{
    display: flex;
   
    gap:40px;
    position:relative;
    padding:530px;
    bottom:1700px;
}

.main{
    display: flex;
    gap:60px;
    margin-left:430px;
    position: relative;
    bottom: 2200px;
   
}

.last-1{
    color: whitesmoke;
}

.last{
    display: flex;
    position: relative;
    gap: 10px;
    margin-left:550px;
    bottom: 2200px;
}
.sp{
    color: rgb(255,66,165);
}
    